In [46]:
import pandas as pd

In [47]:
df = pd.read_excel('평택매매2022.xlsx')
df = df[15:]
col = list(df.iloc[0])
df.columns = col
df = df[1:]

In [74]:
for i in [2020,2021]:
    df_plus = pd.read_excel(f'평택매매{i}.xlsx',thousands=',')
    df_plus = df_plus[15:]
    col = list(df_plus.iloc[0])
    df_plus.columns = col
    df_plus = df_plus[1:]
    df = df.append(df_plus)
    
df

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,거래금액(만원),층_x,보증금(만원),층_y,건축년도_y,도로명_y,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
"(SK합정, 59.965, 202002)","17,000",9,"12,000",2,2003,참이슬길 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(SR친오애, 78.9582, 202002)","15,000",4,"8,000",9,2004,서동대로 784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(SR친오애, 55.2406, 202102)","9,300",4,"9,000",12,2004,서동대로 784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(TheSharp지제역센트럴파크1BL, 59.7656, 202102)","46,000",13,"21,000",4,2020,지제동삭1로 163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(e편한세상평택, 72.6586, 202002)","26,200",19,"17,500",15,2015,현촌1로 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,16350,NaN,NaN,NaN,NaN,NaN,경기도 평택시 합정동,870,0870,0000,참이슬,59.9838,202102,25,14,1999,참이슬길 13,NaN,-,-
1138,25500,NaN,NaN,NaN,NaN,NaN,경기도 평택시 합정동,870,0870,0000,참이슬,124.9895,202102,28,11,1999,참이슬길 13,NaN,-,-
1139,25700,NaN,NaN,NaN,NaN,NaN,경기도 평택시 합정동,870,0870,0000,참이슬,124.9895,202102,28,12,1999,참이슬길 13,NaN,-,-
1140,6600,NaN,NaN,NaN,NaN,NaN,경기도 평택시 현덕면 인광리,406-8,0406,0008,"영흥(가,나,다)",59.43,202102,22,2,1990,인광길 44,20210331,-,-
1141,5000,NaN,NaN,NaN,NaN,NaN,경기도 평택시 현덕면 인광리,413-2,0413,0002,"한일(A,B)",59.76,202102,12,5,1992,인광1길 106,NaN,-,-

In [75]:
df.columns

Index(['거래금액(만원)', '층_x', '보증금(만원)', '층_y', '건축년도_y', '도로명_y', '시군구', '번지',
       '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '층', '건축년도', '도로명',
       '해제사유발생일', '거래유형', '중개사소재지'],
      dtype='object')

In [76]:
df_pick = df[['단지명','전용면적(㎡)', '계약년월','거래금액(만원)','층', '건축년도','도로명']]
df_pick = df_pick.sort_values(by=['단지명','계약년월'])
df_pick.to_csv('평택매매.csv', encoding = 'utf-8-sig')
df_pick = df_pick.groupby(['단지명','전용면적(㎡)','계약년월']).max()
df_pick

                                      거래금액(만원)   층  건축년도      도로명
단지명              전용면적(㎡) 계약년월
SKVIEW2단지        84.68   202002          17800   9  2007  중앙로 176
                         202102          19700   9  2007  중앙로 176
SK비전             84.917  202002          20000   4  2003  평택5로 57
                         202102          23000   6  2003  평택5로 57
SK합정             59.965  202002          17000   9  2003   참이슬길 5
...                                        ...  ..   ...      ...
힐스테이트평택3차(3-1블록) 64.28   202002          24500   2  2019  세교6로 19
                         202102          42500   8  2019  세교6로 19
                 73.42   202002          29000   3  2019  세교6로 19
                         202102          48000  18  2019  세교6로 19
                 84.87   202002          34500   4  2019  세교6로 19

[855 rows x 4 columns]

### 전월세 데이터 정리

In [77]:
df_rent = pd.read_excel('평택전세2022.xlsx')
df_rent = df_rent[15:]
col = list(df_rent.iloc[0])
df_rent.columns = col
df_rent = df_rent[1:]

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [78]:
for i in [2020,2021]:
    df_plus = pd.read_excel(f'평택전세{i}.xlsx',thousands=',')
    df_plus = df_plus[15:]
    col = list(df_plus.iloc[0])
    df_plus.columns = col
    df_plus = df_plus[1:]
    df_rent = df_rent.append(df_plus)
    
df_rent.shape

(2926, 19)

In [79]:
df_rent.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
       '보증금(만원)', '월세(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
       '종전계약 보증금 (만원)', '종전계약 월세 (만원)'],
      dtype='object')

In [80]:
month = df_rent[df_rent['전월세구분'] == '월세'].index
df_rent = df_rent.drop(month)
df_rent

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
20,경기도 평택시 고덕동,1899-2,1899,0002,고덕국제신도시제일풍경채,전세,84.95,202202,5,"18,900",0,21,2019,고덕국제대로 179,-,-,-,,
21,경기도 평택시 고덕동,1899-2,1899,0002,고덕국제신도시제일풍경채,전세,84.98,202202,7,"36,000",0,15,2019,고덕국제대로 179,-,-,-,,
22,경기도 평택시 고덕동,1899-2,1899,0002,고덕국제신도시제일풍경채,전세,84.98,202202,7,"17,850",0,17,2019,고덕국제대로 179,-,-,-,,
30,경기도 평택시 고덕동,1899-2,1899,0002,고덕국제신도시제일풍경채,전세,84.86,202202,15,"35,000",0,15,2019,고덕국제대로 179,-,-,-,,
34,경기도 평택시 고덕동,4247-2,4247,0002,고덕국제신도시파라곤,전세,84.9981,202202,23,"45,000",0,18,2019,고덕국제대로 180,-,-,-,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854,경기도 평택시 포승읍 도곡리,1114,1114,0000,포승삼부르네상스1단지,전세,59.9642,202102,3,9900,0,4,2005,포승공단순환로 403,-,-,-,,
863,경기도 평택시 포승읍 만호리,646-1,0646,0001,SR친오애,전세,55.2406,202102,9,9000,0,12,2004,서동대로 784,-,-,-,,
872,경기도 평택시 포승읍 석정리,306-5,0306,0005,한라파인빌(구한라공조사원아파트),전세,49.94,202102,6,3000,0,1,1993,용소길 7-16,-,-,-,,
874,경기도 평택시 합정동,934-2,0934,0002,목련,전세,74.17,202102,2,12000,0,5,2004,조개터로2번길 76,-,-,-,,
876,경기도 평택시 합정동,730-4,0730,0004,제니스오피스텔,전세,16.84,202102,5,5500,0,7,2012,자유로20번길 10,-,-,-,,

In [81]:
df_rent_pick = df_rent[['단지명','전용면적(㎡)', '계약년월','보증금(만원)','층', '건축년도','도로명']]
df_rent_pick = df_rent_pick.sort_values(by=['단지명','계약년월'])
df_rent_pick = df_rent_pick.groupby(['단지명','전용면적(㎡)','계약년월']).max()
df_rent_pick

                                           보증금(만원)   층  건축년도         도로명
단지명                 전용면적(㎡) 계약년월
SK합정                59.965  202002           12000   2  2003      참이슬길 5
SR친오애               55.2406 202102            9000  12  2004    서동대로 784
                            202202          14,200   7  2004    서동대로 784
                    78.9582 202002            8000   9  2004    서동대로 784
TheSharp지제역센트럴파크1BL 59.6236 202202          29,000   8  2020  지제동삭1로 163
...                                            ...  ..   ...         ...
힐스테이트 평택2차          73.55   202102           27000   1  2018     세교6로 45
힐스테이트송담             59.87   202102           15000  10  2016     송담1로 65
힐스테이트지제역            59.8696 202102           25000  20  2020   지제동삭1로 91
                    74.9872 202102           27000  15  2020   지제동삭1로 91
                    84.9974 202102           28000  23  2020   지제동삭1로 91

[466 rows x 4 columns]

In [82]:
df = pd.merge(df_pick,df_rent_pick,on=['단지명','전용면적(㎡)','계약년월'])
df.pop('건축년도_x')
df.pop('도로명_x')
df = df.sort_values(by=['단지명','계약년월'])
df.head(5)

                                         거래금액(만원) 층_x        보증금(만원) 층_y  \
단지명                 전용면적(㎡) 계약년월
SK합정                59.965  202002          17000   9          12000   2
SR친오애               78.9582 202002          15000   4           8000   9
                    55.2406 202102           9300   4           9000  12
TheSharp지제역센트럴파크1BL 59.7656 202102          46000  13          21000   4
e편한세상평택             72.6586 202002          26200  19          17500  15

                                   건축년도_y       도로명_y
단지명                 전용면적(㎡) 계약년월
SK합정                59.965  202002   2003      참이슬길 5
SR친오애               78.9582 202002   2004    서동대로 784
                    55.2406 202102   2004    서동대로 784
TheSharp지제역센트럴파크1BL 59.7656 202102   2020  지제동삭1로 163
e편한세상평택             72.6586 202002   2015      현촌1로 7

In [83]:
df[['보증금(만원)', '거래금액(만원)']] = df[['보증금(만원)', '거래금액(만원)']].apply(pd.to_numeric)
df['전세가율'] = df['보증금(만원)'] / df['거래금액(만원)']
df['전세가율']

단지명                  전용면적(㎡)  계약년월
SK합정                 59.965   202002    0.705882
SR친오애                78.9582  202002    0.533333
                     55.2406  202102    0.967742
TheSharp지제역센트럴파크1BL  59.7656  202102    0.456522
e편한세상평택              72.6586  202002    0.667939
                                          ...
힐스테이트 평택 1차          84.87    202002    0.606061
                              202102    0.603774
힐스테이트송담              59.87    202102    0.625000
힐스테이트지제역             59.8696  202102    0.632911
                     74.9872  202102    0.385714
Name: 전세가율, Length: 206, dtype: float64

In [84]:
df

                                    거래금액(만원) 층_x  보증금(만원) 층_y 건축년도_y  \
단지명                 전용면적(㎡) 계약년월
SK합정                59.965  202002     17000   9    12000   2   2003
SR친오애               78.9582 202002     15000   4     8000   9   2004
                    55.2406 202102      9300   4     9000  12   2004
TheSharp지제역센트럴파크1BL 59.7656 202102     46000  13    21000   4   2020
e편한세상평택             72.6586 202002     26200  19    17500  15   2015
...                                      ...  ..      ...  ..    ...
힐스테이트 평택 1차         84.87   202002     33000   8    20000   4   2018
                            202102     53000  21    32000   9   2018
힐스테이트송담             59.87   202102     24000   8    15000  10   2016
힐스테이트지제역            59.8696 202102     39500  27    25000  20   2020
                    74.9872 202102     70000   9    27000  15   2020

                                         도로명_y      전세가율
단지명                 전용면적(㎡) 계약년월
SK합정                59.965  202002      참이슬길 5  0.705882
SR친오애               78.9582 202002    서동대로 784  0.533333
                    55.2406 202102    서동대로 784  0.967742
TheSharp지제역센트럴파크1BL 59.7656 202102  지제동삭1로 163  0.456522
e편한세상평택             72.6586 202002      현촌1로 7  0.667939
...                                        ...       ...
힐스테이트 평택 1차         84.87   202002     세교6로 46  0.606061
                            202102     세교6로 46  0.603774
힐스테이트송담             59.87   202102     송담1로 65  0.625000
힐스테이트지제역            59.8696 202102   지제동삭1로 91  0.632911
                    74.9872 202102   지제동삭1로 91  0.385714

[206 rows x 7 columns]

In [85]:
df.to_csv('전세가율_평택.csv', encoding = 'utf-8-sig')